#Layout {
    display: flex;
    /* flex-wrap: wrap; */
    width: 100vw;
    height: 100svh;
    overflow: hidden;
    /* flex: none; */
    /* background-color: url; */
    background-image: linear-gradient(rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1)), url('../../assets/subtle-prism.svg');
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    scroll-behavior: smooth;
    transition-duration: 2s;
}

