:root {
  --text1 : #e9edefe0;
  --text2 :  #d1d7db;
  --text3 :  #8696a0;
  --text4 : #06cf9c;
  --link : #53bdeb;
  --bg1 : #0000007e;
  --bg2 : #202c33;
  --para : 1.25rem;
}

*{
  margin: 0;
  padding: 0;
  color : var(--text1);
  box-sizing: border-box;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
}

.image-id{
  width : 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  background-color: black;
  border-radius: 9999em;
  padding : 0.1em;
  border : 2px solid var(--text3);
}

.svg-img{
  width: 30px;
  background-color: var(--bg2);
}
