:root {
  --text1: #e9edefe0;
  --text2: #d1d7db;
  --text3: #a5afb6;
  --text4: #06cf9c;
  --text5: rgb(251, 61, 61);
  --link: #53bdeb;
  --bg1: #0000007e;
  --bg2: #202c33;
  --bg3: #21232a;
  --bg4 : #1b2631;
  --para: 1.25rem;
  --text-xl : 2.5rem;
  --text-lg: 1.5rem;
  --text-md: 1.25rem;
  --text-sm: 1rem;
}

* {
  margin: 0;
  padding: 0;
  /* color : var(--text1); */
  box-sizing: border-box;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
}

#root {
  display: flex;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1)),
    url('./assets/subtle-prism.svg');
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  scroll-behavior: smooth;
}

.image-id {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  background-color: black;
  border-radius: 9999em;
  padding: 0.1em;
  border: 2px solid var(--text3);
}

.navlink{
  color : var(--link);
  /* text-decoration: none; */
}

.svg-img {
  width: 30px;
  background-color: var(--bg2);
}
button[data-btn]{
  padding-block : 0.5em;
  font-weight: bold;
  border:none;
  margin-inline : 0.5em;
  font-size: var(--text-sm);
  border-radius: 0.4em;
}

button[data-btn='green']{
  background-color: var(--text4);
}

button[data-btn='red']{
  background-color: var(--text5);
  color : var(--text1);
}


.input{
  background-color: var(--bg4);
  padding-inline : 1em;
  padding-block: 0.5em;
  outline : none;
  border : 1px solid var(--text3);
  font-size: var(--text-sm);
  color : var(--text2);
  border-radius : 0.3em;
  transition-property: width;
  transition-duration: 250ms;
}

.input:focus{
  border-radius: 0.5em;
  border-color: var(--link);
}

.input::placeholder{
  color : var(--text3);
}

@media screen and (min-width: 480px) {
  :root {
    --text-lg: 2rem;
    --text-md: 1.8rem;
    --text-sm: 1.4rem;
  }

  .svg-img {
    width: 50px;
    height: 50px;
  }

  .image-id {
    width: 75px;
    height: 75px;
  }

  .input{
    padding-block : 0.8em;
  }
}

@media screen and (min-width: 900px) {
  :root {
    --text-lg: 1.5rem;
    --text-md: 1.25rem;
    --text-sm: 1rem;
  }

  #root {
    background-image:
      /* linear-gradient(rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1)), */
      url('./assets/subtle-prism.svg');

  }

  .image-id {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  .svg-img {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--bg1);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--text3);
    border-radius: 1em;

  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

}