#Contact {
    flex: none;
    height: 100svh;
    width: 100vw;
    overflow: hidden;
    color: var(--text3);
    display: flex;
    flex-direction: column;
}

#contact_user {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;

    /* padding : 0.4em; */
    background-color: rgba(0, 0, 0, 0.61);
}

#contact_search{
    padding-block: 1.5em;
    display: flex;
    justify-content: center;
    gap : 1em;
    align-items: center;
}

#contact_search > input{
    width: 50svw;

    background-color: var(--bg2);
    padding: 0.5em;
    font-size: var(--text-md);
    border-radius: 0.5em;
    color : var(--text3);
    outline: none;
    border: 0.5px solid var(--text3);
    transition-property: width;
    transition-duration: 250ms;
    transition-delay: 200ms;
}

#contact_search > input:focus{
    width: 90svw;
    border : 1px solid var(--text4);
}

#contact_search > input::placeholder{
    text-align: center;
}

#contact_user>span {
    /* background-color: red; */
    font-size: var(--text-lg);
    font-weight: bold;
    flex-grow: 1;
    padding-inline: 0.5em;
}

#contact_list {
    display: flex;
    flex-direction: column;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    padding-block: 1.5em;
    gap: 1em;
}

.contact_elem {
    text-decoration: none;
    padding-inline: 0.4em;
    padding-block: 1em;
    background-color: rgba(0, 0, 0, 0.538);
    color : var(--text3);
    /* background-color: blue; */
    display: flex;
    gap: 0.4em;
    align-items: center;
}

.contact_message {
    color: var(--text3);
    /* color : red; */
    width: 100%;
}

.contact_username {
    color: var(--text2);
    font-size: var(--text-md);
    font-weight: bold;
    text-transform: capitalize;
}

.contact_elem>div:nth-child(2) {
    /* background-color: red; */
    flex-grow: 1;
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact_elem>div:nth-child(1) {
    position: relative;
}

.unread {
    top: -5px;
    left: -5px;
    position: absolute;
    color: var(--text4);
    background-color: var(--bg2);
    font-weight: bold;
    font-size: var(--text-sm);
    border-radius: 999em;
    padding: 0.3em;
}

.contact_time {
    font-size: var(--text-sm);
    position: relative;
    text-align: right;
    flex-grow: 1;
    /* background-color: blue; */
    top: -15px;
}

#contact_droplist>div {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: black;
    border: 1px solid slategrey;
    padding-block: 0.7em;
    padding-inline: 0.5em;
    z-index: 100;
    font-size: var(--text-sm);
}

#contact_droplist>div>p {
    width: 40vw;
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding-block: 0.4em;
    padding-inline: 0.6em;
}

#contact_droplist>div>p:last-child {
    color: white;
    font-weight: bolder;
    background-color: rgb(251, 61, 61);
}

@media screen and (min-width: 480px) {
    .contact_message {
        font-size: var(--text-sm);
    }

    .contact_elem {
        padding-inline: 1em;
        gap: 1.5em;
    }

}

@media screen and (min-width: 900px) {
    #Contact {
        width: 30vw;
        background-color: rgba(0, 0, 0, 0.567);
        border-right: 1px solid var(--text3);
    }

    #contact_user {
        /* background-color: red; */
        padding-block: 0.5em;
        padding-inline: 1em;
        margin: 0;
        border-bottom: 1px solid var(--text3);
        /* padding: 0.5em; */
    }

    #contact_search{
        width: 30vw;
    }
    #contact_search > input{
        width: 15vw;
    }
    #contact_search > input:focus{
        width: 25vw;
    }

    #contact_droplist {
        padding: 0;
    }

    .contact_elem:hover{
        background-color: var(--bg3);
        cursor: pointer;
    }
    .contact_elem.active_link{
        background-color: var(--bg2);
        padding-inline : 1.5em;
        transform: scale(1.07);
        transition-duration: 450ms;
        transition-property: transform;
    }
}